<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="trtlOCM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <userSettings>
        <trtlOCM.Properties.Settings>
            <setting name="savedPools" serializeAs="String">
                <value />
            </setting>
            <setting name="savedAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="cpuCb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="amdCb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nvCb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gpuCb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cpuPerc" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="hwType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="statsSecs" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="logCb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cliCb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="poolPreference" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minerPreference" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xmrstakpath" serializeAs="String">
                <value>miners\xmr-stak\xmr-stak.exe</value>
            </setting>
        </trtlOCM.Properties.Settings>
    </userSettings>
</configuration>
